<div>
    <h1>Important Concepts of Angular</h1>
   
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="basic-data-binding"
          data-bs-toggle="tab"
          data-bs-target="#basic-data-binding-pane"
          type="button"
          role="tab"
          aria-controls="basic-data-binding-pane"
            
        >
        Interpolation
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="cpb-tab"
          data-bs-toggle="tab"
          data-bs-target="#cpb-tab-pane"
          type="button"
          role="tab"
          aria-controls="cpb-tab-pane"
          aria-selected="false"
        >
          Custom Property Binding
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="ceb-tab"
          data-bs-toggle="tab"
          data-bs-target="#ceb-tab-pane"
          type="button"
          role="tab"
          aria-controls="ceb-tab-pane"
          aria-selected="false"
        >
          Custom Event Binding
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="twd-tab"
          data-bs-toggle="tab"
          data-bs-target="#twd-tab-pane"
          type="button"
          role="tab"
          aria-controls="twd-tab-pane"
          aria-selected="false"
        >
          Directives
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="basic-data-binding-pane"
        role="tabpanel"
        aria-labelledby="basic-data-binding"
        tabindex="0"
      >
        <p>Basic Data Binding :</p>
        <h4>
            {{name}}  
          </h4>
      </div>
      <div
        class="tab-pane fade"
        id="cpb-tab-pane"
        role="tabpanel"
        aria-labelledby="cpb-tab"
        tabindex="0"
      >
        <p>custom prop binding :</p>
        <input type="text" [value]="prop">
        <app-profile [val]="myValue"></app-profile>
      </div>
      <div
        class="tab-pane fade"
        id="ceb-tab-pane"
        role="tabpanel"
        aria-labelledby="ceb-tab"
        tabindex="0"
      >
        <p>Custom Event Binding</p>
        <button (click)="clickme($event)" [disabled]="isDisabled">{{dynamicClick}}</button>
        <app-profile ></app-profile>
        <app-reports (report)="onReport($event)"></app-reports>

        <p>Report Value : {{reportValue.id}}  {{reportValue.name}}</p>
    </div>

    <div
        class="tab-pane fade"
        id="twd-tab-pane"
        role="tabpanel"
        aria-labelledby="twd-tab"
        tabindex="0"
      >
        <p>Directives</p>
        <div class="alert alert-success" *ngIf="isTrue; else elsepart">It is True</div>
        <ng-template #elsepart>
          <div class="alert alert-danger"> It is False</div>
        </ng-template>
    

     <p>OrderList :</p>
     <ol>
      <li *ngFor="let skill of skills; index as i" >{{i+1 }}{{skill}}</li>
     </ol>
    </div> 
    </div>
      
    <div appColorizer>
    Demo of Custom Directives
    </div>

      </div>